body {
	background-color: #f9f9f9;
	width: 100%;
	margin: 0px; // Default 8px. We need to specify 0px so that our body stretches the entire width
}

.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;		// Tries to make it 1000px or your screen width, whichever is smaller
	text-align: justify;
	padding: 20px;
	background-color: pink;
}

h1 {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#buttons {
	text-align: center;
}

#buttons > a > button {
	margin: 0px 25px 0px 25px; // top right bottom left
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	text-align: center;
	padding: 10px;
	background-color: black;
}

footer > a {
	color: white;
}